
#dthemebtn{
   margin-right: 1400px;
   margin-top:-100px;
   width: 100px;

   
   
}
#dthemebtn:hover{
    border: 2px solid white;
}
#lthemebtn:hover{
    border: 2px solid white;
}

#lthemebtn{
margin-left: 110px;
width: 100px;
margin-top:-99px;
}

.lightmode{
    background-color: rgb(104, 97, 97);
    position: relative;
    isolation: isolate;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 96px;
    padding-bottom: 96px;
}

.darkmode{
   background-color:  oklch(14.5% 0 0);
   position: relative;
   isolation: isolate;
   padding-left: 24px;
   padding-right: 24px;
   padding-top: 96px;
   padding-bottom: 96px;
}

.bodydiv{
    position: relative;
    isolation: isolate;
    background-color: #0a0a0a;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 96px;
    padding-bottom: 96px;
}
